.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.NavbarBrand{
    margin-left: 2em;
}

.departments{
    font-size: large;
}

.logout{
    font-size: large;
}